@import "styles/mixins";

.solutions {
  @include flex(column, $gap: 2rem);
  position: relative;

  .solution {
    @include flex;
    align-self: flex-start;
    z-index: 0;

    >span {
      @include flex($justify: center);
      @include text($color: $white, $size: 1rem, $height: 100%, $weight: 700);
      @include size(3rem, 3rem);
      min-width: 3rem;
      min-height: 3rem;
      background-color: $aqua;
      border-radius: 50%;
    }

    .row {
      @include flex(column, $align: flex-start, $gap: 0.2rem);

      p {
        color: $white;
        font-size: 0.8rem;
      }

      h3 {
        color: $white;
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }

  .separator {
    position: absolute;
    left: 1.3rem;
    top: 0.5rem;
    height: 90%;
    width: 0.3rem;
    background: rgba(106, 196, 208, 0.50);
  }
}

@media (max-width: 768px) {
  .solutions {
    p {
      display: none;
    }
  }
}