@import "styles/mixins";

.main {
  @include flex(column, $align: flex-start);
  position: relative;
  padding-top: 9rem;

  .cards {
    @include flex($justify: flex-start, $align: flex-end);
    @include size(100%, 40rem);
    padding: 1rem;
    background-color: $aqua;
    position: relative;

    >button:not(:last-child) {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 45%;
      left: 53%;
      z-index: 0;

      &:nth-child(2) {
        top: 50%;
        left: 50%;
        z-index: 1;
      }

      &:nth-child(3) {
        top: 55%;
        left: 47%;
        z-index: 2;
      }
    }
  }

  .joinUs {
    @include flex($justify: center, $gap: 6rem);
    width: 100%;
    padding: 3rem 6rem;

    .text {
      @include flex(column, $gap: 2rem);
      height: 100%;
      max-width: 30rem;

      >h2 {
        @include text($size: 3rem, $height: 100%, $weight: 600);
      }
    }

    >form {
      @include flex(column, $align: flex-start);

      >label {
        width: 100%;
      }

      .inputs {
        @include flex;
      }
    }
  }
}