@import "styles/mixins";

.navbar {
  @include flex(row, space-between);
  user-select: none;
  background: linear-gradient(180deg, #FFF 0%, rgba(217, 217, 217, 0.00) 100%);
  padding: 3rem 6rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  >ul {
    @include flex(row, flex-end, $gap: 4rem);
    list-style: none;
    margin: 0;
    padding: 0;

    >li>a {
      @include text($size: 1.25rem, $weight: 500, $color: $black);
      @include size(100%, 100%);
      text-decoration: none;
      transition: color 0.2s ease-in-out;

      &:hover {
        font-weight: 700;
      }
    }
  }
}

.secondary {
  background: transparent;
}

.tertiary {
  background-color: $white;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem 2rem;

    ul {
      gap: 1rem;
    }

    a {
      font-size: 1rem !important;
    }
  }
}